@import 'styles/utils.scss';
//$theme-color:material-color('green', '700');

.button {
  display: inline-block;
  padding: 0.4rem 1.5rem;
  border-radius: 0.2rem;
  font-weight: 900;

  cursor: pointer;
  &.header-btn {
    $theme-color: #045a93;
    border: 2px solid $theme-color;
    color: $theme-color;
    &:hover {
      background-color: $theme-color;
      //border: 2px solid material-color('grey', '800');
      color: white;
    }
    &:active {
      background-color: $theme-color;
    }
  }
  &.login-btn {
    margin-top: 0.9rem;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    background: #045a93;
    &:hover {
      background: #1e88e5;
    }
    &:active {
      background: #045a93;
    }
  }
  &.main-start {
    border: 2px solid white;
    background: transparent;
    border-radius: 0.8rem;
    padding: 1rem 7rem;
    margin-top: 2rem;
    &:hover {
      color: black;
      background: white;
      border: 2px solid transparent;
    }
    &:active {
      background: #eeeeee;
    }
  }
  &.disabled {
    background: material-color('grey', '300');
    color: material-color('grey', '500');
    cursor: default;
  }
}
