@import 'styles/utils.scss';
//$theme-color:material-color('green', '700');
$theme-color: black;

.button {
  display: inline-block;
  padding: 0.4rem 1.5rem;
  border-radius: 0.2rem;
  font-weight: 600;
  cursor: pointer;

  $theme-color: material-color('green', '700');
  border: 0.1rem solid $theme-color;
  color: $theme-color;
  &:hover {
    background-color: $theme-color;
    color: white;
  }
  &:active {
    background-color: $theme-color;
  }
}
