.tradeDetail-wrapper {
  background: #fafafa;
  .trade-main {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    background: #045a93;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .trade-detail {
    width: 1200px;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 2rem;
  }
}
