@import 'styles/utils';

.text-button {
  padding-bottom: 0.15rem;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  &.right {
    margin-left: auto;
  }
  &:hover {
    color: #045a93;
    font-weight: 800;
    border-bottom: 1px solid #045a93;
  }
  &:active {
    color: #045a93;
    font-weight: 800;
    border-bottom: 1px solid #045a93;
  }
}
