@import 'styles/utils';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background-main {
  background-image: url('../../../static/images/stock-background.jpg');
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 35rem;
  z-index: 2;
  color: white;

  //apply brightness only background
  &.blur:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
    filter: brightness(30%);
  }
  .text-area {
    width: 1000px;
    z-index: z-index-for('back-text');
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .main-logo {
      transform: translate(10%, 10%);
      animation-name: spin;
      animation-duration: 2s;
      animation-iteration-count: 2;
      animation-timing-function: linear;
      animation-direction: alternate;
      font-size: 7rem;
      &:hover {
        animation-name: spin;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
      }
    }
    h1 {
      font-size: 3.5rem;
    }
    h3 {
      color: material-color('grey', '400');
    }
    .welcome {
      text-align: center;
      display: inline-block;
      border: 2px solid white;
      background: transparent;
      border-radius: 0.8rem;
      padding: 1rem 7rem;
      margin-top: 2rem;
    }
  }
}

.register-background {
  width: 100%;
  height: 35rem;
  background: url('../../../static/images/back-register.jpg') no-repeat;
  background-size: cover;
}
