@import 'styles/utils.scss';

.nav-item {
  margin-left: 3rem;
  padding: 1rem;
  transition: all 0.1s ease-in-out;
  &:last-child {
    margin-right: 3rem;
  }
  color: material-color('grey', '900');
  font-weight: 900;
  cursor: pointer;
  &:hover {
    color: #045a93;
    box-shadow: inset 0 4px 0 #045a93;
  }
}
