.trade-wrapper {
  // background: url('../../../static/images/trade-bg.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
  background: #efebe9;

  .trade-index-subpage {
    width: 1200px;
    margin: 0 auto;
  }
}
